{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <li><strong>{{ title }}
    {% if post.oral %}
    <font color=red> (Oral)</font>
    {% endif %}
    </strong>
    <br>{{ post.authors }}
    <br>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}
    <br>[<a href=" {{ post.paperurl }} ">PDF</a>]
    {% if post.supp %}
    [<a href=" {{ post.supp }} ">Supp</a>]
    {% endif %}
    {% if post.code %}
    [<a href=" {{ post.code }} ">Code</a>]
    {% endif %}
    </li>

  </article>
</div>
